@page
@model ApogeeDev.WebhookTester.Pages.User.IndexModel

@{
    ViewData["Title"] = "Bookmarked";
}

<h3>Bookmarked Sessions</h3>

@if (Model.ShowUserSessions)
{
    foreach (var item in Model.UserSessions)
    {
        <div class="shadow-sm bg-body roundedshadow p-3 mb-3 bg-body rounded bookmark-item">
            <p><a href="@Url.Content(item.SessionLink)">@item.WebhookSessionId</a></p>
            <p class=text-muted><span class="fw-semibold">Callback url:</span> @item.CallbackUrl <button type="button"
            class="btn btn-outline text-primary" data-urlpart="@Url.Content(item.CallbackUrl)"><i
                class="bi bi-clipboard"></i>
                    Copy url</button></p>
            <p class=text-muted><span class="fw-semibold">Started on:</span><span
            class="d-none need-dt-fix">@item.StartDate.ToString("yyyy-MM-ddTHH:mm:ssZ")</span></p>
        </div>
    }
}
else
{
    <div class="border-top border-start shadow p-3 mb-5 bg-light rounded d-50 mx-auto">
        No sessions bookmarked yet.
    </div>
}