@model ApogeeDev.WebhookTester.Common.ViewModels.WebhookSessionView;

<div class="card mb-3" id="session-detail">
    <div class="card-body">
        <div class="card-title">
            <div class="h5 d-inline">Session details</div>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <partial name="_Templates/_SessionSaveStatus" model="@Model.IsAssignedToUser" />
            }
        </div>
        <p class="card-text">
            <span class="fw-semibold">Started On:</span> <span
                class="d-none need-dt-fix">@Model.StartDate.ToString("yyyy-MM-ddTHH:mm:ssZ")</span>
            <br>
            <span class="fw-semibold">Session Id:</span> @Model.WebhookSessionId <button type="button"
                class="btn btn-outline text-primary py-0" data-urlpart="@Url.Content(Model.SessionLink)"><i
                    class="bi bi-clipboard"></i> Copy link to session</button>
            <br>
            <span class="fw-semibold">Callback URL:</span> @Model.CallbackUrl <button type="button"
                class="btn btn-outline text-primary py-0" data-urlpart="@Url.Content(Model.CallbackUrl)"><i
                    class="bi bi-clipboard"></i>
                Copy url</button>
        </p>
    </div>
</div>